<div class="ui floating pointing labeled icon dropdown" >
    <% if !current_employer.firstname.nil?  %>
	<i class="user icon"></i>
       <%= (current_employer.firstname  + ' ' + current_employer.lastname).titleize %>
    <% else %>
	<i class="user icon"></i>
	<%= (current_employer.fullname).titleize %>
   <% end %>
	
   
    <i class="angle down icon"></i>
    <div class="menu">
	<%= link_to email_settings_path, class: 'item' do %>
	    <i class="violet mail outline icon"></i>
	    Email settings
	<% end %>
	<%= link_to dashboard_index_path, class: "item" do %>
	    <i class="violet dashboard icon"></i> Dashboard
	<% end %>
	<%= link_to employer_notifications_path, class: "item" do %>
	    <i class="violet bell icon"></i> 
	    Notification settings
	<% end %>
	<%= link_to edit_employer_registration_path, class: 'item' do %>
	    <i class="violet setting icon"></i> Profile
	<% end %>
	<%= link_to destroy_employer_session_path, method: :delete, class: 'item' do %>
	    <i class="violet sign out icon"></i> Logout
	<% end %>
	
    </div>    
</div>
