<div class="ui text container">
    <div class="ui very padded teal raised segment">
	<h2 class="ui blue header center aligned">Log in</h2>
	<div class="ui form">
	    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="field">
		    <%= f.label :email %>
		    <%= f.email_field :email, autofocus: true %>
		</div>

		<div class="field">
		    <%= f.label :password %>
		    <%= f.password_field :password, autocomplete: "off" %>
		</div>

		<% if devise_mapping.rememberable? -%>
		    <div class="inline field">
			<%= f.check_box :remember_me, class: "ui checkbox" %>
			<%= f.label :remember_me %>
		    </div>
		<% end -%>

		<div class="actions">
		    <%= f.submit "            Log in            ", class: 'ui violet button' %>
		</div>
	    <% end %>
	</div>
	<%= render "employers/shared/links" %>
    </div>

</div>
