<div class="ui container">
  <div class="ui text container">
    <div class="ui very padded raised teal segment" style="border-radius: 0px;">
      <h3 class="ui blue header">Forgot your password?</h3>
	    <div class="ui form">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		    <%= devise_error_messages! %>

		    <div class="field">
			<%= f.label :email %>
			<%= f.email_field :email, autofocus: true, placeholder: 'adewale@example.com' %>
		    </div>
		    <div class="actions">
			<%= f.submit "Reset password", class: 'ui violet button' %>
		    </div>
		<% end %>
	    </div>
	    <%= render "jobseekers/shared/links" %>
	    </div>
    </div>
</div>
