<div class="ui text container">
    <div class="ui very padded piled segment">
	<div class="ui divided items">    
	    <% @jobs.each do |j| %>
		<div class="item">
		    <div class="content">
			<%= link_to j.title.capitalize, job_path(j), class: 'header', id: 'full_details' %> 			    <span class="meta" style="float:right; font-size: 0.9em">2 days ago</span>
			<div class="meta">
			    <span class="cinema">Airtel</span>
			    <span class="nameing"> <i class="marker icon"></i>Yaba Lagos, Nigeria</span>
			    <div class="ui tiny green header"> 150k - 300k </div>
			</div>
			<div class="description">
			    <span class="meta"> <%= j.description.capitalize %></span>
			</div>
			<div class="extra">
			    <div class="ui grey label">Limited</div>
			    <div class="ui grey label">IMAX</div>
			    <div class="ui grey label">IMAX</div>
			    <div class="ui grey label"><i class="globe icon"></i> Additional Languages</div>
			    <div class="ui grey label"><i class="globe icon"></i> Additional Languages</div>
			    <div class="ui grey label">IMAX</div>
			    <div class="ui grey label"><i class="globe icon"></i> Additional Languages</div>
			    <div class="ui grey label">IMAX</div>
			    <%= link_to   job_path(j), class: "ui right floated violet icon button" do %>
				Full Details
				<%= content_tag(:i, "", class: "angle double right icon") %>
			    <% end %>
			</div>
		    </div>
		</div>
	    <% end %>
	</div>	
    </div>
    <div style="float: right">
	<%= paginate @jobs %>
    </div>
</div>


