<div class="ui text container">
    <div class="ui very padded raised teal segment" style="border-radius: 0px;">
	<h2 class="ui blue center aligned header"> Login </h2>
	<div class="ui form">
	    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="field">
		  <%= f.label :email %>
		  <div class="ui left icon input">
		      <%= f.email_field :email, autofocus: true %>
		      <i class="violet user icon"></i>
		  </div>
		</div>
		<div class="field">
		    <%= f.label :password %>
		    <div class="ui left icon input">
			<%= f.password_field :password, autocomplete: "off" %>
			<i class="violet lock icon"></i>
		    </div>
		</div>

		<% if devise_mapping.rememberable? -%>
		    <div class="inline field">
			<div class="ui checkbox">
			    <%= f.check_box :remember_me  %>
			    <%= f.label :remember_me %>
			</div>
		    </div>
		<% end %>
		<div class="ui hidden divider"> </div>
		<center> 
		    <div class="actions">
			<%= f.submit "             Log in             ", class: 'ui violet button' %>
		</center>
		<centere>
		    <%= render "jobseekers/shared/links" %>
		</center>
		    </div>
	    <% end %>
	</div>
    </div>
</div>

