

<div class="ui text container">
    <div style="float: right"> <%= social_share_button_tag(@job.title) %> </div>
    <h1>Job Details</h1>
    
<h2> <%= @job.title  %> </h2>
<div class="ui divider"> </div>
<div class="ui header">
    Location
</div>
<%= @job.location %>
<div class="ui header">
    Salary Per Anual
</div>

<%= @job.salary %>

<div class="ui header">
    Job Description 
</div>
<%= @job.description %>

</div>

<div style="float: right;">
    <button class="ui violet button">
	Apply
    </button>
</div>


  

