<div class="ui form">
  <%= form_for @workexperience  do |f| %>
	    <div class="field">
		<%= f.label 'Company Name' %>
		<%= f.text_field :company_name, placeholder: "example `Exato` "  %> 
	    </div>
	    <div class="field">
		<%= f.label :Job_Title %> 
		<%= f.text_field :job_title, placeholder: "example `Software Developer` " %>
	    </div>
	    
	    <div class="field">
		<%= f.label :Company_Website %>
		<%= f.url_field :company_website, placeholder: "example `http://company.com` " %>
	    </div>

	    <div class="inline fields">
		<div class="inline field">
		    <%= f.label 'Start Date' %> 
		    <%= f.date_select :start_date, discard_day: true, end_year: 1930, start_year: Date.today.year %> 
		</div>
		<div class="inline field">
		    <%= f.label 'End Date' %>
		    <%= f.date_select :end_date, discard_day: true, end_year: 1930, start_year: Date.today.year %>
		</div>
	    </div>

	    <div class="field">
		<%= f.label :About_role %>
		<%= f.text_area :about_role, placeholder: "`Job description` " %>
	    </div>

	    <%= f.hidden_field :jobseeker_id, value: current_jobseeker.id %>
	    <div class="inline fields">
		<div class="field">
		    <%= f.submit 'Update', class: 'ui violet button' %>
		</div>
		<div class="field">
	            <%= link_to 'Cancel', work_experiences_path, class: 'ui right floated  button' %>
		</div>
	    </div>
	<% end %>
    </div>
