<div class="ui text container">
    <div class="ui very padded piled segment">
	<h2 class="ui blue header"> Work Experience Summary </h2>
	<%= link_to 'Add', new_work_experience_path, class: 'ui violet button' %>
	<br />
	<% @workexperiences.each do |work| %>
	    <%= link_to raw('<i class="edit icon"></i>') + 'edit', edit_work_experience_path(work.id), class: "ui right floated basic violet small compact  button", id: 'edit_popup', :'data-content' => "Edit" %>
	    <%= link_to raw('<i class="trash outline icon"></i>'), work_experience_path(work), method: :delete, class: "ui right floated basic violet small compact  button", data: {:confirm => 'Are you Sure'} %>
	    <h3> <%= work.company_name %> </h3> </br>
	    
	    <%= work.company_website %> </br>
	<%= work.job_title %> </br>
	<%= work.about_role %> From: <%= work.start_date %> To: <%= work.end_date %></br>
	<div class="ui divider">
	</div>  	    
	<% end %>
    </div>
</div>


<script >
 $('#edit_popup')
     .popup()
 ;
</script>

