<div class="ui text container">
    <div class="ui divided items">
	<% @internships.each do |i| %>
	    <div class="item">
		<div class="content">
		    <%= link_to i.title.capitalize, internship_path(i), class: 'header' %>
		    <div class="meta">
			<span class="cinema">IFC Cinema</span>
		    </div>
		    <div class="description">
			<p> <%= i.description.capitalize %> </p>
		    </div>
		    <div class="extra">
			<%= link_to  internship_path(i), class: "ui right floated violet button" do %>
			    Full Details
			    <%= content_tag(:i, "", class: "angle double right icon") %>
			<% end %>
			<div class="ui  label">Limited</div>
			<div class="ui  label">IMAX</div>
			<div class="ui  label"><i class="globe icon"></i> Additional Languages</div>
		    </div>
		</div>
	    </div>
	<% end %>
    </div>

    <!-- <div class="ui text container"> -->
    <!-- 	<div style="padding-top: 60px;"> -->
    <!-- 	</div> -->
    <!-- </div> -->
    <div style="float: right">
	<%= paginate  @internships %>
    </div>
</div>
