    <div style="float: right"> <%= social_share_button_tag(@job.title) %> </div>
    <h1>Job Details</h1>
    
    <h2> <%= @job.title  %> </h2>
    <div class="ui divider"> </div>
    <div class="ui header">
	Location
    </div>
    <%= @job.location %>
    <div class="ui header">
	Salary Per Anual
    </div>

    <%# @job.salary %>

    <div class="ui header">
	Job Description 
    </div>
    <%= @job.description %>
    <%# @applications.inspect %>

    <% session[:applying] = @job.id %>
    <%= form_for :apply, url: welcome_path, remote: true  do |f|  %>
	<%= f.hidden_field :jobseeker_id, value: jobseeker_signed_in? ? current_jobseeker.id : nil  %>
      	<%= f.hidden_field :job_id, value: @job.id  %>
	<%= f.hidden_field :employer_id, value: @job.employer.id  %>
	<%= f.submit 'Apply', id: 'apply', class: 'ui violet right floated button' %>
    <% end %>
