
<div class="ui container">
    <div class="ui fluid top text menu" id="headernav">

	  <%= link_to  image_tag("logo.jpeg") ,  root_path, class: 'item' %>

	
	<div class="right menu">
	  <%= link_to 'Jobs', root_path + "#jobs", class: 'item' %>
	    <%= link_to 'Internship', '#', class: 'item' %>
	    <% if jobseeker_signed_in? %>
		<%# image_tag current_jobseeker.gravatar_url %>
		<%= link_to 'Edit profile', edit_jobseeker_registration_path, class: 'item' %> 
		<%= link_to "Logout", destroy_jobseeker_session_path, method: :delete, :class => 'item'  %>
	    <% else %>
		<%= link_to 'Employers', dashboard_index_path, class: 'item' %> 
		<%= link_to "Login", new_jobseeker_session_path, class: 'item'  %>
		<div class="item">
		    <div class="ui small basic violet button">
			<i class="unlock alternate icon"></i>
			<%= link_to "Sign up", new_jobseeker_registration_path %> 
		    </div>
		</div>
	    <% end  %>
	</div>
    </div>
</div>
