<div class="ui stackable text menu "id="header" style="margin-top: 0px; padding-top: 1.5em; opacity: 0.9">
    <div class="ui container">
	<%= link_to  image_tag("logo.png") ,  root_path, class: 'item' %>
	<%= link_to 'Open Jobs', jobs_path, class: 'right item' %>
	<%= link_to 'Paid Internship', internships_path, class: 'item' %>
	<% if jobseeker_signed_in? %>
	    <div class="item link"> <%= render 'layouts/settings_dropdown' %></div>
	<% else %>
	    <%= link_to "Login", new_jobseeker_session_path, class: 'item'  %>
	    <div class="item">
		<%= link_to raw('<i class="unlock alternate icon"></i>') + "Sign up", new_jobseeker_registration_path, class: "ui primary basic button" %> 
	<% end  %>
	    </div>
    </div>
</div>
<br />
<script>
 $('.ui.search')
     .search({
	 apiSettings: {
	     url: '//localhost:3000/jobs/autocomplete.json?query={query}'
	 },
	 fields: {
	     results : 'items',
	     title   : 'title',
	     url     : 'url'
	 },
	 minCharacters : 1,
	 debug: true
     })
 ;
</script>


