<!DOCTYPE html>
<html>
  <head>
    <title>Jobtest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      $(function(){
      $.stellar({
      horizontalScrolling: false,
      verticalOffset: 80
      });
      });
    </script>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_messages' %>
    <!-- removed container here every page should decide that itself -->    
      	      <%= yield %>
      <%= render 'layouts/footernav' %>
      <script>
	$('.message .close')
	.on('click', function() {
	$(this)
	.closest('.message')
	.transition('fade')
	;
	})
	;
      </script>
  </body>
</html>
