<!DOCTYPE html>
<html>
  <head>
    <title>Jobtest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      body {
      background-color: #FFFFFF;
      }
      .ui.menu .item img.logo {
      margin-right: 1.5em;
      }
      .main.container {
      margin-top: 7em;
      }
      .wireframe {
      margin-top: 2em;
      }
      .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
      }
     /* Adding support for sticky footer */
      .site {
         display: flex;
         min-height: 100vh;
         flex-direction: column;
      }

      .sticky-footer{
      flex: 1
      }
     
    </style>

    
  </head>

  <body>
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash_messages' %>
      <div  class="ui container">
	<%= yield %>
      </div>
      <%= render 'layouts/footernav' %>

      <script>
       $('.message .close')
	   .on('click', function() {
	       $(this)
		   .closest('.message')
		   .transition('fade')
	       ;
	   })
       ;
      </script>
      
  </body>
</html>
