<!DOCTYPE html>
<html>
    <head>
	<title>Jobtest</title>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'toastr' %>
	<%= stylesheet_pack_tag 'toastr' %>
	<%= javascript_pack_tag 'semantic-ui' %>
	<%= stylesheet_pack_tag 'semantic-ui' %>
    </head>
    
    <body>
	<%= render 'dashboard/header' %>
	<%= render 'layouts/flash_messages' %>
	<% unless employer_signed_in? %>
	    <%# render 'dashboard/employer_landing' %>
	    <br />
	    <%= yield %>
	<% end %>
	
	<% if employer_signed_in? %>
	    <div class="ui two column Left floated relaxed stackable grid container">
		<div class="two wide column">
		    <%= render 'dashboard/employer_side_nav' %>
		</div>
		<div class="thirteen wide column">
		    <%= yield %>
		</div>
	    </div>
	<% end %>
	<br />
	<br />
	<br />
	<br />
	<br />
	<!-- <br />
	     <br />	     -->
	<%= render 'layouts/footernav' %>
	
	<script type="text/javascript">
	 $('.ui.sidebar')
	     .sidebar('show')
	 ;

	 $('.ui .dropdown')
	     .dropdown({
		 direction: 'downward'
	     })
	 ;
	</script>	
    </body>
</html>

