<!DOCTYPE html>
<html>
    <head>
	<title>Jobtest</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
	    <%= render 'dashboard/header' %>
	    <% unless employer_signed_in? %>
		<%= render 'dashboard/employer_landing' %>
	    <% end %>
	    <% if employer_signed_in? %>
		<div class="ui two column relaxed stackable grid container">
		    <div class="four wide column">
			<%= render 'dashboard/employer_side_nav' %>
		    </div>
		    <div class="twelve wide column">
			    <%= yield %>
		    </div>
		</div>
		<%= render 'layouts/footernav' %>
	</div>
	    <% end %> 	    
	<script>
	 // Side navigation dashboard 
	 $('.ui.sidebar')
	     .sidebar('show')
	 ;

	 // message box flash messages 
	 $('.message .close')
	     .on('click', function() {
		 $(this)
		     .closest('.message')
		     .transition('fade')
		 ;
	     })
	 ;


	 $('.ui .dropdown')
	     .dropdown({
		 direction: 'downward'
	     })
	 ;
	</script>	
    </body>
</html>

