<!DOCTYPE html>
<html>
    <head>
	<title>Jobtest</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<script>
	 $(function(){
	     $.stellar({
		 horizontalScrolling: false,
		 verticalOffset: 80
	     });
	 });
	</script>

    </head>
    <body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/flash_messages' %>
	<% if !jobseeker_signed_in? %>
	    <%= render 'welcome/landing_segment'  %> 
	<% end %>
	
	<!-- removed container here every page should decide that itself -->
	<% if jobseeker_signed_in? %>    
	    <div class="ui equal width center aligned padded grid">
		<div class="teal column">
		    <!-- Search  -->
		    <div class="ui text container">
			<div class="ui huge search" style="padding-top: 50px; padding-bottom: 50px">
			    <div class="ui fluid icon input">
				<input placeholder="Job Search...    Internship search..." type="text">
				<i class="search icon"></i>
			    </div>
			    <div class="results"></div>
		    </div>
		</div>
		</div>
	    </div>
	<% end %>
	
	<div class="ui three column relaxed stackable grid fluid container">
	    <div class="four wide column">
		<%= render 'layouts/jobseeker_vertical_side_menu' if  jobseeker_signed_in? %>
	    </div>
	    <div class="eight wide column">
		<div class="ui active centered inline loader"></div>
		<%= yield %>
	    </div>
	    <div class="four wide column" >
		<%= render 'layouts/right_pannel' %>
	    </div>
	</div>
	<%= render 'layouts/footernav' %>
	
	<script>
	 $('.message .close')
	     .on('click', function() {
		 $(this)
		     .closest('.message')
		     .transition('fade')
		 ;
	     })
	 ;
	</script>
    </body>
</html>
