<h2>Resend unlock instructions</h2>
<div class="ui form">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	<%= devise_error_messages! %>
	<div class="field">
	    <%= f.label :email %><br />
	    <div class="ui left icon input">
		<%= f.email_field :email, autofocus: true %>
		<i class="violet email icon"></i>
	    </div>
	</div>
	<div class="actions">
	    <%= f.submit "Resend unlock instructions" %>
	</div>
    <% end %>
</div>
<%= render "jobseekers/shared/links" %>
